button{
    width: 160px;
    text-align: left;
}

.nav{
    margin-left: 15px;
}

.nav-link.active{
   background-color: #212529; 
}

.tab-content{
    width: 100%;
}

.container-fluid{
    padding: 15px;
}