<div class="container-fluid" >
    <div class="d-flex align-items-start " >
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <button class="nav-link" type="button"  [routerLink]="[ 'admin-category' ]" routerLinkActive="active">Category</button>
          <button class="nav-link" [routerLink]="[ 'admin-products' ]" routerLinkActive="active" type="button">Products</button>
          <button class="nav-link " type="button" [routerLink]="[ 'admin-blog' ]" routerLinkActive="active">Blog</button>
          
        </div>
        <div class="tab-content">
          <router-outlet></router-outlet>
        </div>
      </div>
</div>
